*{
  margin: 0;
  padding: 0;
}
body{
  margin-top: 5rem;
}
.btn-div{
  text-align: center;
}
.left-float{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-float{
  display: flex;
  flex-direction: column;
  width: 50%;
}